@import url("https://fonts.googleapis.com/css?family=Barlow+Condensed");
@font-face {
  font-family: 'LeHigh Regular';
  src: url("../fonts/lehigh-personal-regular.otf");
}

@font-face {
  font-family: 'LeHigh Bold';
  src: url("../fonts/lehigh-personal-bold.otf");
}

/* line 14, /Users/kristenharlin/Documents/_GatorFiles/_2018-fall-web2/_project1/project1-adv-web1/sass/main.scss */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'LeHigh Regular', serif;
  letter-spacing: .05rem;
}

/* line 22, /Users/kristenharlin/Documents/_GatorFiles/_2018-fall-web2/_project1/project1-adv-web1/sass/main.scss */
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 5% 15px 5%;
}

/* line 26, /Users/kristenharlin/Documents/_GatorFiles/_2018-fall-web2/_project1/project1-adv-web1/sass/main.scss */
header img {
  width: 70%;
  max-width: 300px;
}

/* line 32, /Users/kristenharlin/Documents/_GatorFiles/_2018-fall-web2/_project1/project1-adv-web1/sass/main.scss */
nav {
  background-color: #ffffff;
}

/* line 35, /Users/kristenharlin/Documents/_GatorFiles/_2018-fall-web2/_project1/project1-adv-web1/sass/main.scss */
nav ul {
  list-style-type: none;
}

/* line 38, /Users/kristenharlin/Documents/_GatorFiles/_2018-fall-web2/_project1/project1-adv-web1/sass/main.scss */
nav ul li {
  display: inline-block;
  padding: 10px;
}

/* line 42, /Users/kristenharlin/Documents/_GatorFiles/_2018-fall-web2/_project1/project1-adv-web1/sass/main.scss */
nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #516a4a;
  font-family: 'LeHigh Bold';
  letter-spacing: .05rem;
}

/* line 53, /Users/kristenharlin/Documents/_GatorFiles/_2018-fall-web2/_project1/project1-adv-web1/sass/main.scss */
h1, h2 {
  font-family: 'LeHigh Regular';
  letter-spacing: .1rem;
  color: #ffffff;
}

/* line 59, /Users/kristenharlin/Documents/_GatorFiles/_2018-fall-web2/_project1/project1-adv-web1/sass/main.scss */
h1 {
  font-size: 2.2rem;
  text-transform: uppercase;
  max-width: 500px;
}

/* line 65, /Users/kristenharlin/Documents/_GatorFiles/_2018-fall-web2/_project1/project1-adv-web1/sass/main.scss */
h2 {
  font-size: 1.5rem;
}

/* line 69, /Users/kristenharlin/Documents/_GatorFiles/_2018-fall-web2/_project1/project1-adv-web1/sass/main.scss */
p {
  font-size: .95rem;
  letter-spacing: .05rem;
  line-height: 1.3rem;
  color: #516a4a;
}

/* line 76, /Users/kristenharlin/Documents/_GatorFiles/_2018-fall-web2/_project1/project1-adv-web1/sass/main.scss */
.hero-image {
  background-image: url("../img/tacoheader-bg.jpg");
  min-height: 300px;
  max-width: 1200px;
  margin: auto;
  background-position: center;
  background-repeat: no-repeat;
  padding: 15px 5% 15px 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 550px) {
  /* line 76, /Users/kristenharlin/Documents/_GatorFiles/_2018-fall-web2/_project1/project1-adv-web1/sass/main.scss */
  .hero-image {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    height: 545px;
    padding-bottom: 60px;
  }
}

/* line 95, /Users/kristenharlin/Documents/_GatorFiles/_2018-fall-web2/_project1/project1-adv-web1/sass/main.scss */
.hero-image .green-btn, .hero-image h3 {
  width: 100px;
  text-align: center;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* line 103, /Users/kristenharlin/Documents/_GatorFiles/_2018-fall-web2/_project1/project1-adv-web1/sass/main.scss */
.headline-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (min-width: 770px) {
  /* line 103, /Users/kristenharlin/Documents/_GatorFiles/_2018-fall-web2/_project1/project1-adv-web1/sass/main.scss */
  .headline-container {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* line 114, /Users/kristenharlin/Documents/_GatorFiles/_2018-fall-web2/_project1/project1-adv-web1/sass/main.scss */
.green-btn, h3 {
  background-color: #516a4a;
  font-family: 'Barlow Condensed', sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  padding: 10px;
}

/* line 121, /Users/kristenharlin/Documents/_GatorFiles/_2018-fall-web2/_project1/project1-adv-web1/sass/main.scss */
.green-btn:hover, h3:hover {
  background-color: #aa4f30;
}

/* line 126, /Users/kristenharlin/Documents/_GatorFiles/_2018-fall-web2/_project1/project1-adv-web1/sass/main.scss */
h3 {
  display: inline-flex;
  font-size: 1.3rem;
  letter-spacing: .05rem;
}

/* line 133, /Users/kristenharlin/Documents/_GatorFiles/_2018-fall-web2/_project1/project1-adv-web1/sass/main.scss */
.about {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
}

@media (min-width: 770px) {
  /* line 133, /Users/kristenharlin/Documents/_GatorFiles/_2018-fall-web2/_project1/project1-adv-web1/sass/main.scss */
  .about {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 770px) {
  /* line 143, /Users/kristenharlin/Documents/_GatorFiles/_2018-fall-web2/_project1/project1-adv-web1/sass/main.scss */
  .about p {
    width: 60%;
    font-size: 1.4rem;
    line-height: 1.9rem;
    padding-top: 15px;
  }
}

/* line 152, /Users/kristenharlin/Documents/_GatorFiles/_2018-fall-web2/_project1/project1-adv-web1/sass/main.scss */
.about #hours {
  background-color: #aa4f30;
  padding: 15px;
  margin: 15px 0px 15px 0px;
  max-width: 425px;
}

@media (min-width: 770px) {
  /* line 152, /Users/kristenharlin/Documents/_GatorFiles/_2018-fall-web2/_project1/project1-adv-web1/sass/main.scss */
  .about #hours {
    width: 30%;
    float: right;
  }
}

/* line 163, /Users/kristenharlin/Documents/_GatorFiles/_2018-fall-web2/_project1/project1-adv-web1/sass/main.scss */
.about #hours p {
  color: #ffffff;
}

@media (min-width: 770px) {
  /* line 163, /Users/kristenharlin/Documents/_GatorFiles/_2018-fall-web2/_project1/project1-adv-web1/sass/main.scss */
  .about #hours p {
    width: 100%;
  }
}

/* line 173, /Users/kristenharlin/Documents/_GatorFiles/_2018-fall-web2/_project1/project1-adv-web1/sass/main.scss */
.callOutBlock {
  width: 100%;
  max-width: 350px;
  height: 330px;
  display: flex;
  align-items: center;
  margin: 12px;
}

@media (min-width: 750px) {
  /* line 173, /Users/kristenharlin/Documents/_GatorFiles/_2018-fall-web2/_project1/project1-adv-web1/sass/main.scss */
  .callOutBlock {
    width: 33%;
    flex-wrap: nowrap;
  }
}

/* line 187, /Users/kristenharlin/Documents/_GatorFiles/_2018-fall-web2/_project1/project1-adv-web1/sass/main.scss */
.decisions {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1200px;
}

@media (min-width: 770px) {
  /* line 187, /Users/kristenharlin/Documents/_GatorFiles/_2018-fall-web2/_project1/project1-adv-web1/sass/main.scss */
  .decisions {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

/* line 199, /Users/kristenharlin/Documents/_GatorFiles/_2018-fall-web2/_project1/project1-adv-web1/sass/main.scss */
.decisions .food {
  background-image: url(../img/food-bg.jpg);
  background-repeat: no-repeat;
}

/* line 204, /Users/kristenharlin/Documents/_GatorFiles/_2018-fall-web2/_project1/project1-adv-web1/sass/main.scss */
.decisions .dessert {
  background-image: url(../img/flan-bg.jpg);
  background-repeat: no-repeat;
}

/* line 209, /Users/kristenharlin/Documents/_GatorFiles/_2018-fall-web2/_project1/project1-adv-web1/sass/main.scss */
.decisions .drink {
  background-image: url(../img/beer-bg.jpg);
  background-repeat: no-repeat;
}

/* line 215, /Users/kristenharlin/Documents/_GatorFiles/_2018-fall-web2/_project1/project1-adv-web1/sass/main.scss */
.pull-quote {
  background-color: #aa4f30;
  padding-top: 25px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 770px) {
  /* line 215, /Users/kristenharlin/Documents/_GatorFiles/_2018-fall-web2/_project1/project1-adv-web1/sass/main.scss */
  .pull-quote {
    padding-top: 80px;
    padding-bottom: 90px;
    text-align: center;
  }
}

/* line 227, /Users/kristenharlin/Documents/_GatorFiles/_2018-fall-web2/_project1/project1-adv-web1/sass/main.scss */
.pull-quote p {
  color: #ffffff;
  font-size: 1.8rem;
  line-height: 2.1rem;
  margin-bottom: 20px;
  max-width: 500px;
}

/* line 236, /Users/kristenharlin/Documents/_GatorFiles/_2018-fall-web2/_project1/project1-adv-web1/sass/main.scss */
.wht-btn {
  font-family: 'Barlow Condensed', sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  padding: 10px;
  border: 1px #ffffff solid;
}

/* line 243, /Users/kristenharlin/Documents/_GatorFiles/_2018-fall-web2/_project1/project1-adv-web1/sass/main.scss */
.wht-btn:hover {
  background-color: #ffffff;
  color: #aa4f30;
}

/* line 249, /Users/kristenharlin/Documents/_GatorFiles/_2018-fall-web2/_project1/project1-adv-web1/sass/main.scss */
footer {
  background-color: #eae8d3;
}

@media (min-width: 390px) {
  /* line 249, /Users/kristenharlin/Documents/_GatorFiles/_2018-fall-web2/_project1/project1-adv-web1/sass/main.scss */
  footer {
    display: flex;
    justify-content: space-between;
  }
}

/* line 257, /Users/kristenharlin/Documents/_GatorFiles/_2018-fall-web2/_project1/project1-adv-web1/sass/main.scss */
footer p {
  margin-bottom: 5px;
}

/* line 261, /Users/kristenharlin/Documents/_GatorFiles/_2018-fall-web2/_project1/project1-adv-web1/sass/main.scss */
footer .social img {
  max-width: 40px;
  padding: 5px;
}

/* line 268, /Users/kristenharlin/Documents/_GatorFiles/_2018-fall-web2/_project1/project1-adv-web1/sass/main.scss */
section, footer {
  padding: 15px 5% 15px 5%;
}

/*# sourceMappingURL=../css/main.map */