@import url("https://fonts.googleapis.com/css?family=Barlow+Condensed");
@font-face {
  font-family: 'LeHigh Regular';
  src: url("../fonts/lehigh-personal-regular.otf");
}

@font-face {
  font-family: 'LeHigh Bold';
  src: url("../fonts/lehigh-personal-bold.otf");
}

/* line 14, /Users/kristenharlin/Documents/_GatorFiles/_2018-fall-web2/_project1/project1-adv-web1/sass/main.scss */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'LeHigh Regular', serif;
}

/* line 21, /Users/kristenharlin/Documents/_GatorFiles/_2018-fall-web2/_project1/project1-adv-web1/sass/main.scss */
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 5% 15px 5%;
}

/* line 28, /Users/kristenharlin/Documents/_GatorFiles/_2018-fall-web2/_project1/project1-adv-web1/sass/main.scss */
header img {
  width: 70%;
  max-width: 300px;
}

/* line 34, /Users/kristenharlin/Documents/_GatorFiles/_2018-fall-web2/_project1/project1-adv-web1/sass/main.scss */
nav {
  background-color: #ffffff;
}

/* line 37, /Users/kristenharlin/Documents/_GatorFiles/_2018-fall-web2/_project1/project1-adv-web1/sass/main.scss */
nav ul {
  list-style-type: none;
}

/* line 40, /Users/kristenharlin/Documents/_GatorFiles/_2018-fall-web2/_project1/project1-adv-web1/sass/main.scss */
nav ul li {
  display: inline-block;
  padding: 10px;
}

/* line 44, /Users/kristenharlin/Documents/_GatorFiles/_2018-fall-web2/_project1/project1-adv-web1/sass/main.scss */
nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #516a4a;
  font-family: 'LeHigh Bold';
  letter-spacing: .05rem;
}

/* line 55, /Users/kristenharlin/Documents/_GatorFiles/_2018-fall-web2/_project1/project1-adv-web1/sass/main.scss */
h1, h2 {
  font-family: 'LeHigh Regular';
  letter-spacing: .1rem;
  color: #ffffff;
}

/* line 61, /Users/kristenharlin/Documents/_GatorFiles/_2018-fall-web2/_project1/project1-adv-web1/sass/main.scss */
h1 {
  font-size: 2.2rem;
  text-transform: uppercase;
}

/* line 66, /Users/kristenharlin/Documents/_GatorFiles/_2018-fall-web2/_project1/project1-adv-web1/sass/main.scss */
h2 {
  font-size: 1.5rem;
}

/* line 70, /Users/kristenharlin/Documents/_GatorFiles/_2018-fall-web2/_project1/project1-adv-web1/sass/main.scss */
p {
  font-size: .95rem;
  letter-spacing: .05rem;
  line-height: 1.3rem;
  color: #516a4a;
}

/* line 77, /Users/kristenharlin/Documents/_GatorFiles/_2018-fall-web2/_project1/project1-adv-web1/sass/main.scss */
.hero-image {
  background-image: url("../img/tacoheader-bg.jpg");
  min-height: 300px;
  max-width: 1200px;
  margin: auto;
  background-position: center;
  background-repeat: no-repeat;
  padding: 15px 5% 15px 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* line 89, /Users/kristenharlin/Documents/_GatorFiles/_2018-fall-web2/_project1/project1-adv-web1/sass/main.scss */
.hero-image .green-btn, .hero-image h3 {
  width: 100px;
  text-align: center;
}

/* line 95, /Users/kristenharlin/Documents/_GatorFiles/_2018-fall-web2/_project1/project1-adv-web1/sass/main.scss */
.green-btn, h3 {
  background-color: #516a4a;
  font-family: 'Barlow Condensed', sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  padding: 10px;
}

/* line 102, /Users/kristenharlin/Documents/_GatorFiles/_2018-fall-web2/_project1/project1-adv-web1/sass/main.scss */
.green-btn:hover, h3:hover {
  background-color: #aa4f30;
}

/* line 107, /Users/kristenharlin/Documents/_GatorFiles/_2018-fall-web2/_project1/project1-adv-web1/sass/main.scss */
h3 {
  display: inline-flex;
}

/* line 112, /Users/kristenharlin/Documents/_GatorFiles/_2018-fall-web2/_project1/project1-adv-web1/sass/main.scss */
section, footer {
  padding: 15px 5% 15px 5%;
}

/*# sourceMappingURL=../css/main.map */