@import "variables";
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed');

@font-face {
  font-family: 'LeHigh Regular';
  src: url('../fonts/lehigh-personal-regular.otf');
}

@font-face {
  font-family: 'LeHigh Bold';
  src: url('../fonts/lehigh-personal-bold.otf');
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'LeHigh Regular', serif;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: $mobile-pad;

  img{
    width: 70%;
    max-width: 300px;
  }
}

nav {
  background-color: $white;

  ul {
    list-style-type: none;

    li {
      display: inline-block;
      padding: 10px;

      a{
        text-decoration: none;
        text-transform: uppercase;
        color: $olive;
        font-family: 'LeHigh Bold';
        letter-spacing: .05rem;
      }
    }
  }
}

h1, h2 {
  font-family: 'LeHigh Regular';
  letter-spacing: .1rem;
  color: $white;
}

h1{
  font-size: 2.2rem;
  text-transform: uppercase;
}

h2 {
  font-size: 1.5rem;
}

p {
  font-size: .95rem;
  letter-spacing: .05rem;
  line-height: 1.3rem;
  color: $olive;
}

.hero-image{
  background-image: url('../img/tacoheader-bg.jpg');
  min-height: 300px;
  max-width: 1200px;
  margin: auto;
  background-position: center;
  background-repeat: no-repeat;
  padding: $mobile-pad;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .green-btn {
    width: 100px;
    text-align: center;
    margin-top: 10px;
  }
}

.green-btn {
  background-color: $olive;
  font-family: 'Barlow Condensed', sans-serif;
  color: $white;
  text-transform: uppercase;
  padding: 10px;

  &:hover {
    background-color: $orange;
  }
}

h3 {
  @extend .green-btn;
  display: inline-flex;
}

.about {
  display: flex;
  flex-direction: column;

  .hours {
    background-color: $orange;
    padding: 15px;
    margin: 15px 0px 15px 0px;
    
    p {
      color: $white;
    }
  }
}

section, footer {
  padding: $mobile-pad;
}
