@import "variables";
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed');

@font-face {
  font-family: 'LeHigh Regular';
  src: url('../fonts/lehigh-personal-regular.otf');
}

@font-face {
  font-family: 'LeHigh Bold';
  src: url('../fonts/lehigh-personal-bold.otf');
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'LeHigh Regular', serif;
  letter-spacing: .05rem;
}

header {
  @include flex-center;
  padding: $mobile-pad;

  img{
    width: 70%;
    max-width: 300px;
  }
}

nav {
  background-color: $white;

  ul {
    list-style-type: none;

    li {
      display: inline-block;
      padding: 10px;

      a{
        text-decoration: none;
        text-transform: uppercase;
        color: $olive;
        font-family: 'LeHigh Bold';
        letter-spacing: .05rem;
      }
    }
  }
}

h1, h2 {
  font-family: 'LeHigh Regular';
  letter-spacing: .1rem;
  color: $white;
}

h1{
  font-size: 2.2rem;
  text-transform: uppercase;
  max-width: 500px;
}

h2 {
  font-size: 1.5rem;
}

p {
  font-size: .95rem;
  letter-spacing: .05rem;
  line-height: 1.3rem;
  color: $olive;
}

.hero-image{
  background-image: url('../img/tacoheader-bg.jpg');
  min-height: 300px;
  max-width: 1200px;
  margin: auto;
  background-position: center;
  background-repeat: no-repeat;
  padding: $mobile-pad;
  @include flex-center;

  @media (min-width: 550px) {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    height: 545px;
    padding-bottom: 60px;
  }

  .green-btn {
    width: 100px;
    text-align: center;
    margin-top: 10px;
    @include flex-center;
  }
}

.headline-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (min-width: 770px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.green-btn {
  background-color: $olive;
  font-family: 'Barlow Condensed', sans-serif;
  color: $white;
  text-transform: uppercase;
  padding: 10px;

  &:hover {
    background-color: $orange;
  }
}

h3 {
  @extend .green-btn;
  display: inline-flex;
  font-size: 1.3rem;
  letter-spacing: .05rem;
}

.about {
  display: flex;
  flex-direction: column;
  max-width: 1200px;

  @media (min-width: 770px) {
    flex-direction: row;
    justify-content: space-between;
  }

  p{
    @media (min-width: 770px) {
      width: 60%;
      font-size: 1.4rem;
      line-height: 1.9rem;
      padding-top: 15px;
    }
  }

  #hours {
    background-color: $orange;
    padding: 15px;
    margin: 15px 0px 15px 0px;
    max-width: 425px;

    @media (min-width: 770px) {
      width: 30%;
      float: right;
    }

    p {
      color: $white;
      @media (min-width: 770px) {
        width: 100%;
      }

    }
  }
}

.callOutBlock {
  width: 100%;
  max-width: 350px;
  height: 330px;
  display: flex;
  align-items: center;
  margin: 12px;

  @media (min-width: 750px) {
    width: 33%;
    flex-wrap: nowrap;
  }
}

.decisions {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1200px;

  @media (min-width: 770px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }


  .food {
    background-image: url(../img/food-bg.jpg);
    background-repeat: no-repeat;
  }

  .dessert {
    background-image: url(../img/flan-bg.jpg);
    background-repeat: no-repeat;
  }

  .drink {
    background-image: url(../img/beer-bg.jpg);
    background-repeat: no-repeat;
  }
}

.pull-quote {
  background-color: $orange;
  padding-top: 25px;
  padding-bottom: 50px;
  @include flex-center;

  @media (min-width: 770px){
    padding-top: 80px;
    padding-bottom: 90px;
    text-align: center;
  }

  p{
    color: $white;
    font-size: 1.8rem;
    line-height: 2.1rem;
    margin-bottom: 20px;
    max-width: 500px;
  }
}

.wht-btn {
  font-family: 'Barlow Condensed', sans-serif;
  color: $white;
  text-transform: uppercase;
  padding: 10px;
  border: 1px $white solid;

  &:hover {
    background-color: $white;
    color: $orange;
  }
}

footer {
  background-color: $tan;

  @media (min-width: 390px) {
    display: flex;
    justify-content: space-between;
  }

  p{
    margin-bottom: 5px;
  }
  .social {
    img {
      max-width: 40px;
      padding: 5px;
    }
  }
}

section, footer {
  padding: $mobile-pad;
}
