@import "variables";

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: $serif;
  letter-spacing: .05rem;
}

header {
  @include flex-center;
  padding-bottom: 10px;

  @media (min-width: 550px) {
    padding-top: 10px;
  }

  img{
    width: 70%;
    max-width: 300px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

nav {
  background-color: $white;
  display: none;

  @media (min-width: 550px) {
    display: block;
  }

  ul {
    list-style-type: none;

    li {
      display: inline-block;
      padding: 10px;

      a{
        text-decoration: none;
        text-transform: uppercase;
        color: $olive;
        font-family: $serif-bold;
        letter-spacing: .05rem;

        &:hover {
          color: $orange;
          @include transition;
        }
      }
    }
  }
}

h1, h2 {
  font-family: $serif;
  letter-spacing: .1rem;
  color: $white;
}

h1{
  font-size: 2.2rem;
  text-transform: uppercase;
  max-width: 500px;
}

h2 {
  font-size: 1.5rem;
}

p {
  font-size: .95rem;
  letter-spacing: .05rem;
  line-height: 1.3rem;
  color: $olive;
}

.hero-image{
  background-image: url('../img/tacoheader-bg.jpg');
  min-height: 300px;
  max-width: 1200px;
  margin: auto;
  background-position: center;
  background-repeat: no-repeat;
  padding: $mobile-pad;
  @include flex-center;

  @media (min-width: 550px) {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    height: 545px;
    padding-bottom: 60px;
  }

  .green-btn {
    width: 100px;
    text-align: center;
    margin-top: 10px;
    @include transition;
    @include flex-center;
  }
}

.headline-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (min-width: 770px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.green-btn {
  background-color: $olive;
  font-family: $sans-serif;
  color: $white;
  text-transform: uppercase;
  padding: 10px;
  font-size: 1.3rem;
  @include transition;

  &:hover {
    background-color: $orange;
  }
}

h3 {
  @extend .green-btn;
  display: inline-flex;
  letter-spacing: .05rem;
}

.about {
  display: flex;
  flex-direction: column;
  max-width: 1200px;

  @media (min-width: 770px) {
    flex-direction: row;
    justify-content: space-between;
  }

  p{
    @media (min-width: 770px) {
      width: 60%;
      font-size: 1.4rem;
      line-height: 1.9rem;
      padding-top: 15px;
    }
  }

  #hours {
    background-color: $orange;
    padding: 15px;
    margin: 15px 0px 15px 0px;
    max-width: 425px;

    @media (min-width: 770px) {
      width: 30%;
      float: right;
    }

    p {
      color: $white;
      @media (min-width: 770px) {
        width: 100%;
        font-size: .95rem;
        line-height: 1.3rem;
      }

    }
  }
}

.callOutBlock {
  width: 100%;
  max-width: 350px;
  height: 330px;
  display: flex;
  align-items: center;
  margin: 12px;

  @media (min-width: 750px) {
    width: 30%;
    flex-wrap: nowrap;
  }
}

.decisions {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1200px;

  @media (min-width: 770px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }


  .food {
    background-image: url(../img/food-bg.jpg);
    background-repeat: no-repeat;
  }

  .dessert {
    background-image: url(../img/flan-bg.jpg);
    background-repeat: no-repeat;
  }

  .drink {
    background-image: url(../img/beer-bg.jpg);
    background-repeat: no-repeat;
  }
}

.pull-quote {
  background-color: $orange;
  padding-top: 25px;
  padding-bottom: 50px;
  @include flex-center;

  @media (min-width: 770px){
    padding-top: 80px;
    padding-bottom: 90px;
    text-align: center;
  }

  p{
    color: $white;
    font-size: 1.8rem;
    line-height: 2.1rem;
    margin-bottom: 20px;
    max-width: 500px;
  }
}

.wht-btn {
  font-family: $sans-serif;
  color: $white;
  text-transform: uppercase;
  padding: 10px;
  border: 1px $white solid;
  @include transition;

  &:hover {
    background-color: $white;
    color: $orange;
  }
}

footer {
  background-color: $tan;

  @media (min-width: 390px) {
    display: flex;
    justify-content: space-between;
  }

  p{
    margin-bottom: 5px;
  }
  .social {
    img {
      max-width: 40px;
      padding: 5px;
    }
  }
}

section, footer {
  padding: $mobile-pad;
}

.footer-contact {
  @media (min-width: 750px){
  display: flex;
  justify-content: space-between;
  width: 400px;
  }
}

// hamburger styling goes here //

.hamburger {
  background: none;
  position: absolute;
  top: 0;
  right: 0;
  line-height: 45px;
  padding: 5px 15px 0px 15px;
  color: $olive;
  border: 0;
  font-size: 1.4em;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 10000000000000;
}

.cross {
  background: none;
  position: absolute;
  top: 0px;
  right: 0;
  padding: 7px 15px 0px 15px;
  color: $olive;
  border: 0;
  font-size: 3em;
  line-height: 65px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 10000000000000;
}

.menu {
  z-index: 1000000;
  font-weight: bold;
  font-size: 0.8em;
  width: 100%;
  background: $tan;
  position: relative;
  text-align: center;
  font-size: 12px;
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
  }
  li {
    display: block;
    padding: 15px 0 15px 0;
    border-bottom: $white 1px solid;
    &:hover {
      background: $white;
    }
  }
  ul li a {
    text-decoration: none;
    margin: 0px;
    color: $orange;
    &:hover {
      color: $orange;
      text-decoration: none;
    }
  }
  a {
    color: $orange;
    &:hover {
      color: $olive;
    }
  }
}

.hamburger, .cross, .menu {
  @media (min-width: 550px) {
    display: none;
  }
}
