//fonts

@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed');

@font-face {
  font-family: 'LeHigh Regular';
  src: url('../fonts/lehigh-personal-regular.otf');
}

@font-face {
  font-family: 'LeHigh Bold';
  src: url('../fonts/lehigh-personal-bold.otf');
}

$serif: 'LeHigh Regular', serif;
$serif-bold: 'LeHigh Bold', serif;
$sans-serif: 'Barlow Condensed', sans-serif;

//colors

$white: #ffffff;
$orange: #aa4f30;
$tan: #eae8d3;
$olive: #516a4a;

// even padding for mobile

$mobile-pad: 15px 5% 15px 5%;

// mixins

@mixin flex-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin transition {
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
}
