$white: #ffffff;
$orange: #aa4f30;
$tan: #eae8d3;
$olive: #516a4a;

$mobile-pad: 15px 5% 15px 5%;

@mixin flex-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin transition {
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
}
